--swiftversion 5.10
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping testable-bottom
--header strip
--decimalgrouping 3,5
--binarygrouping 4,8
--hexgrouping 4,8
--exponentcase lowercase
--patternlet hoist
--ranges spaced
--operatorfunc spaced
--elseposition same-line
--guardelse same-line
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line
--computedvarattrs prev-line
--exclude .build,DerivedData,Pods,**/*.generated.swift
